#nprogress .bar {
  background: #3b82f6 !important; 
  height: 3px !important;
  transition: all 0.3s ease;
}

#nprogress .peg {
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #3b82f6 !important;
}

#nprogress .spinner {
  display: none;
}
